https://plot.ly/python/graph-data-from-mysql-database-in-python/

In [1]:
import MySQLdb
import pandas as pd
import plotly.plotly as py
from plotly.graph_objs import *

ImportError: No module named MySQLdb