# Create database from sql file

In [5]:
%%bash
ls

authors_books.sql
cars.sql
Untitled.ipynb

In [7]:
%%bash 
#rm demo.db
# http://stackoverflow.com/questions/2049109/how-to-import-sql-into-sqlite3
sqlite3 demo.db < cars.sql
sqlite3 demo.db < authors_books.sql

In [8]:
%%bash
sqlite3 demo.db ".tables"

Authors  Books    Cars

In [18]:
%%bash
sqlite3 demo.db ".schema Books"
sqlite3 demo.db "SELECT * FROM Books"

CREATE TABLE Books(BookId INTEGER PRIMARY KEY, Title TEXT, AuthorId INTEGER,
    FOREIGN KEY(AuthorId) REFERENCES Authors(AuthorId));
BookId      Title       AuthorId
----------  ----------  ----------
1           Emma        1
2           War and Pe  2
3           Catch XII   3
4           David Copp  4
5           Good as Go  3
6           Anna Karen  2

In [17]:
%%bash
sqlite3 demo.db ".schema Cars"
sqlite3 demo.db "SELECT * FROM Cars"

CREATE TABLE Cars(Id INTEGER PRIMARY KEY, Name TEXT, Price INTEGER);
Id          Name        Price
----------  ----------  ----------
1           Audi        52642
2           Mercedes    57127
3           Skoda       9000
4           Volvo       29000
5           Bentley     350000
6           Citroen     21000
7           Hummer      41400
8           Volkswagen  21600

In [19]:
%%bash
sqlite3 demo.db ".schema Authors"
sqlite3 demo.db "SELECT * FROM Authors"

CREATE TABLE Authors(AuthorId INTEGER PRIMARY KEY, Name TEXT);
AuthorId    Name
----------  -----------
1           Jane Austen
2           Leo Tolstoy
3           Joseph Hell
4           Charles Dic

In [15]:
%%bash

CREATE TABLE Books(BookId INTEGER PRIMARY KEY, Title TEXT, AuthorId INTEGER,
    FOREIGN KEY(AuthorId) REFERENCES Authors(AuthorId));