In [1]:
%%sh
ls -l

total 656
-rw-r--r-- 1 takanori takanori    470 Sep 21 19:56 books.sql
-rw-r--r-- 1 takanori takanori    475 Sep 21 19:56 cars.sql
-rw-r--r-- 1 takanori takanori 179247 Sep 21 20:20 city.sql
-rw-r--r-- 1 takanori takanori    815 Sep 21 19:56 customers_reservations.sql
-rw-r--r-- 1 takanori takanori    188 Sep 22 18:39 dump.sql
-rw-r--r-- 1 takanori takanori   2048 Sep 22 18:34 example.db
-rw-r--r-- 1 takanori takanori     75 Jul  3 14:43 readme.rst
-rw-r--r-- 1 takanori takanori  12171 Sep 22 18:42 sqlite-whirlwind.ipynb
-rw-r--r-- 1 takanori takanori     72 Sep 22 18:43 Untitled.ipynb
-rw-r--r-- 1 takanori takanori     62 Sep 21 19:56 url.txt
-rw-r--r-- 1 takanori takanori 397334 Sep 21 20:09 world.sql

In [2]:
%%sh
cat cars.sql | sqlite3 demo.db

Error: near line 3: near "USE": syntax error